<h4>
  <strong>Share with your friends about this Job</strong>
</h4>

<div class="panel panelBody">
  <div class="panel-body">
    <div class="row">

      <div class="col-md-3 col-xs-3 col-sm-3 text-center">
        <img class="facbook-logo" src="images/fb_logo.png"></img>
      </div>

      <div class="col-md-6 col-xs-6 col-sm-6">
        <div class="row">
          <span class="font-18"><strong>Job Title</strong></span>
        </div>
        <div class="row">
          <span class="font-14">Job Description</span>
        </div>
      </div>

      <div class="col-md-3 col-xs-3 col-sm-3 text-center">
        <a class="btn btn-primary">Share</a>
      </div>

    </div>
  </div>
</div>